<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Go Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
	<link rel="stylesheet" href="assets/prism.css">
	<style>
		:not(pre)>code {
			background-color: #f5f6f7;
			border-radius: 3px;
			box-shadow: 0 0 0 1px rgba(9, 45, 66, .13);
			color: #eb5a46;
			padding: 1px 3px;
			margin: -1px 2px;
		}
	</style>
</head>

<body>
	<div style="margin:0 auto;height:250px">
		<img src="{{.Image}}" style="height:100%;">
	</div>

	<section class="section-secondary">
		<div class="container container-small" style="width:700px">
			{{range .Sections}}
			{{.Content}}

			{{if .Guide}}
			<div class="card" style="margin:35px 0">
				<h3 class="card-title">Guide</h3>

				{{.Guide}}

			</div>
			{{end}}
			{{end}}
		</div>
	</section>

	<script src="assets/prism.js"></script>
</body>

</html>
