<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tutorial - {{.Title}}</title>
	<meta name="HandheldFriendly" content="True">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/screen.css">
	<link rel="stylesheet" href="assets/prism.css">
</head>

<body class="post-template tag-getting-started">
	<div class="site-wrapper">
		<main id="site-main" class="site-main outer">
			<div class="inner">
				<article class="post-full post tag-getting-started ">
					<header class="post-full-header">
						<h1 class="post-full-title">{{.Title}}</h1>
					</header>

					<figure class="post-full-image">
						<img src="{{.Image}}">
					</figure>

					<section class="post-full-content">
						<div class="post-content">
							{{range .Sections}}
							{{.Content}}

							{{if .Guide}}
							<div class="card" style="margin:15px 0">
								<h3 class="card-title">Guide</h3>

								{{.Guide}}

							</div>
							{{end}}
							{{end}}
						</div>
					</section>

					<footer class="post-full-footer">
						<section class="author-card">
							<img class="author-profile-image" src="assets/ghost-icon.png" alt="Ghost">
							<section class="author-card-content">
								<h4 class="author-card-name">Romain Ginestou
								</h4>
								<p>Go Enthusiast</p>
							</section>
						</section>
					</footer>
				</article>
			</div>
		</main>

		<div class="floating-header floating-active">
			<div class="floating-header-title">{{.Title}}</div>
			<progress id="reading-progress" class="progress" value="2544" max="3801">
				<div class="progress-container">
					<span class="progress-bar"></span>
				</div>
			</progress>
		</div>
	</div>

	<script>
		var images = document.querySelectorAll('.kg-gallery-image img');
		images.forEach(function (image) {
			var container = image.closest('.kg-gallery-image');
			var width = image.attributes.width.value;
			var height = image.attributes.height.value;
			var ratio = width / height;
			container.style.flex = ratio + ' 1 0%';
		})
	</script>

	<script src="assets/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
		</script>
	<script type="text/javascript" src="assets/jquery.fitvids.js"></script>

	<script>
		$(document).ready(function () {
			// Start fitVids
			var $postContent = $(".post-full-content");
			$postContent.fitVids();
			// End fitVids

			var progressBar = document.querySelector('#reading-progress');
			var header = document.querySelector('.floating-header');
			var title = document.querySelector('.post-full-title');

			var lastScrollY = window.scrollY;
			var lastWindowHeight = window.innerHeight;
			var lastDocumentHeight = $(document).height();
			var ticking = false;

			function onScroll() {
				lastScrollY = window.scrollY;
				requestTick();
			}

			function onResize() {
				lastWindowHeight = window.innerHeight;
				lastDocumentHeight = $(document).height();
				requestTick();
			}

			function requestTick() {
				if (!ticking) {
					requestAnimationFrame(update);
				}
				ticking = true;
			}

			function update() {
				var trigger = title.getBoundingClientRect().top + window.scrollY;
				var triggerOffset = title.offsetHeight + 35;
				var progressMax = lastDocumentHeight - lastWindowHeight;

				// show/hide floating header
				if (lastScrollY >= trigger + triggerOffset) {
					header.classList.add('floating-active');
				} else {
					header.classList.remove('floating-active');
				}

				progressBar.setAttribute('max', progressMax);
				progressBar.setAttribute('value', lastScrollY);

				ticking = false;
			}

			window.addEventListener('scroll', onScroll, { passive: true });
			window.addEventListener('resize', onResize, false);

			update();
		});
	</script>
	<script src="assets/prism.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  messageStyle: "none",
		  extensions: ["tex2jax.js"],
		  jax: ["input/TeX", "output/HTML-CSS"],
		  tex2jax: {
			inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
			processEscapes: true
		  },
		  "HTML-CSS": {
			fonts: ["TeX"],
			scale: 85,
		  }
		});
	  </script>
</body>

</html>
